body,
h1,
header,
i,
* {
  font-family: "Shadows Into Light Two", cursive;
  font-weight: 700;
  font-style: bold;
  letter-spacing: 0.1rem;

  /* font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; */
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10%;
  width: 75%;
  margin: auto;
}
